# Dependencies
node_modules/
package-lock.json
yarn.lock

# Production builds
build/
dist/
.next/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.cache/
*.pem

# Testing
coverage/
.nyc_output/
